<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="RusHour">
    <meta name="keyword" content="">

    <title>RusHour</title>
    <%- include analytics.js %>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="/stylesheets/style_dash.css" rel="stylesheet">
    <link href="/stylesheets/style-responsive_dash.css" rel="stylesheet">
    
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  <section id="container" >
      <!--header start-->
      <header class="header black-bg">
            <!--logo start-->
            <a href="index.html" class="logo"><b>RusHour</b></a>
            <!--logo end-->
            <div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    <li><a class="logout" href="login.html">Logout</a></li>
            	</ul>
            </div>
        </header>
      <!--header end-->
      
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
              <center><ul id="messages"></ul></center>
              <div class="row">
                  <div class="col-lg-12 main-chart">
                    <div class="row mtbox">
                      <div class="col-md-6 col-sm-6 col-md-offset-2 box0">
                        <div class="box1">
                          <h3>[Name]</h3>
                        </div>
                      </div>
                    </div>
                  	<div class="row mtbox">
                  		<div class="col-md-4 col-sm-4 col-md-offset-1 box0">
                  			<div class="box1">
      					  			<span class="fa fa-users"></span>
      					  			<h3>[Number]</h3>
                        			</div>
      					  			<p>Current count text</p>
                  		</div>
                  		<div class="col-md-4 col-sm-4 box0">
                  			<div class="box1" data-toggle="modal" data-target="#incdec" style="cursor: pointer; cursor: hand;">
        					  			<span class="fa fa-plus"></span>
        					  			<h3>Change</h3>
                        </div>
      					  			<p>Increment or decrement.</p>
                  		</div>
                  	</div><!-- /row mt -->	

                    <!-- Modal Start -->
                    <div class="modal fade" id="incdec" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                        <form id="incdecForm"action="http://goharirfan.me:3000/services/update_count" method="POST">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Increment/Decrement</h4>
                          </div>
                          <div class="modal-body">
                                <center><strong><h3>Current Count</h3></strong><h4>some number</h4></center><br/>
                                <select id="operator" class="form-control"  placeholder="Operator" required>
                                    <option value="inc">Increment</option>
                                    <option value="dec">Decrement</option>
                                </select><br/><br/>
                                <input type="text" id="count" class="form-control" placeholder="Amount"><br/><br/>
                                <input type="text" id="id" class="form-control" placeholder="ID"><br/><br/>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" name="submitIncDec" class="btn btn-success">Save changes</button>
                          </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <!-- Modal End -->
                    </div><!-- /row -->
					
                  </div><!-- /col-lg-9 END SECTION MIDDLE -->
                     
              </div>
          </section>
      </section>
  </section>
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>

    <script>
      var socket = io("http://goharirfan.me");
        $('form#incdecForm').submit(function(){
          
          var id = $("#id").val();
          var count = $("#count").val();
          var operator = $("#operator").val();
          console.log(id);
          console.log(count);

          jQuery.support.cors = true;
          $.ajax({
              url: 'http://goharirfan.me/services/update_count',
              type: 'post',
              cache: true,
              dataType: 'json',
              data: {id: id, count: count, operator: operator},
              success: function(data) {
                console.log(data);
                $('#messages').append($('<li>').text(data.name + " " + data.count));
              }
          });

          var stringToEmit = id + "/" + count + "/" + operator;
          socket.emit('update_count', stringToEmit);
          $('#count').val('');
          
          return false;
        });
        socket.on('update_count', function(msg){
          $('#messages').append($('<li>').text(msg));
        });
    </script>
    <!-- js placed at the end of the document so the pages load faster -->
    

    <!--script for this page-->
  </body>
</html>