<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery.js"></script>
  </head>
  <body>
    <h1>RusHour | Facebook Parser</h1>
    <h3>Contents of the file:</h3>
    <p id="file-content"></p>
  </body>
</html>

<script>
function run() {
	var dictionary = ["laghari", "gohar", "qandeel"];
	var results = [0,0,0];
  $.ajax({
    type: "GET",
    cache: true,
    url: 'https://graph.facebook.com/10153183607807744?fields=feed&access_token=CAAM5qits7MMBAB2yygY4BAKXusaeX9EfAXq6pVnBj8JEXOU4L1H9yvaQUBiwVvqDVQvNYz1z9CihGHGdcNdUpbeDuAwfwg89YMYZChO9iEIFZA71F9jcZAsIBEIYpXnFSh91hGjHmMBkwZAeTF8RAQhuJ7OKuhEioCY55k8V27h4hiIvMZAdkv1ROGsAX3lYBpE6UvK5UopRdfqJExOSsjgTsFpgsC84ZD',
    dataType: 'json',
    
    success: function(data) {
    	console.log(data);
    	var post = data["feed"]["data"];
    	$.each(post, function(key, value) {
    		var val = JSON.stringify(value);
    		val = val.toLowerCase();
    		for (var i = 0; i < dictionary.length; i++) {
    			var index = val.indexOf(dictionary[i]);
    			if (index != -1) {
    				console.log(dictionary[i]);
    				results[i]++;
    			}
    		}
    	})
    	var str = "";
    	for (var i = 0; i < dictionary.length; i++) {
    		str = str + dictionary[i] + " appeared " + results[i] + " times.";
    		console.log(str);
    	}
    	var element = document.getElementById('file-content');
    	element.innerHTML = str;
    },
	error: function(e) {
		console.log("error" + e);
    }
  });
}

window.onLoad = run();

</script>
