<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="RusHour">

    <title><%= title %></title>

    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/stylesheets/rushour.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/ui-darkness/jquery-ui.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <!-- jQuery -->
    <script src="/javascripts/jquery.js"></script>
    
    <!-- Plugin JavaScript -->
    <script src="/javascripts/jquery.easing.min.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>

    <!-- For Socket.io to connect to Node.js server -->
    <script src="/socket.io/socket.io.js"></script>

    <!-- For plotting prediction charts using Chart.js -->
    <script src="/javascripts/Chart.js"></script>

    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
      .fixed-height {
            padding: 1px;
            max-height: 200px;
            overflow: auto;
        }
    </style>
    
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <!-- TODO: append &signed_in=true to the above url for signing user in, but that makes loading slow -->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-car"></i>  <span class="light">Rus</span>Hour
                </a>
            </div>

            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Page2</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#map-canvas">Map</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">What to put here??</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">RusHour</h1>
                        <input type="text" class="form-control" id="searchBox"placeholder="Search for...">
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Ticker Section -->
    <section id="about" class="container content-section text-center">
        <h2>About RusHour</h2>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p>Updates around you!</p>
                <a href="/auth/facebook">Login with Facebook</a>
                <div id="ticker">
                    <div id="ticker-wrapper">
                        <ul id="ticker-wrapper-inner">
                            <li>
                               <figure>
                                <img src="http://placehold.it/80x80" alt="" />
                               </figure>
                               <h3>Item #1</h3>
                            </li>
                            <li>
                               <figure>
                                <img src="http://placehold.it/80x80" alt="" />
                               </figure>
                               <h3>Item #2</h3>
                            </li>
                        </ul>
                    </div>
                </div>  
                <!-- <ul id="ticker"></ul> -->
                <canvas id="myChart" width="400" height="200"></canvas>
            </div>
        </div>
    </section>

    <!-- Map Section -->
    <div id="map-canvas"></div>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; RusHour Footer and shizz</p>
        </div>
    </footer>

    <!-- Bootstrap Core JavaScript -->
    <script src="/javascripts/bootstrap.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/javascripts/rushour.js"></script>

</body>

</html>