<% @page_title = "Add Service Admin" %>
<%= link_to("<< Back", {:action => 'index'}, :class => 'back-link') %>

<div class="service_admin new">
  <h2>Create Service Admin</h2>

  <%= form_for(:service_admin, :url => {:action => 'create'}) do |f| %>

    <%= render(:partial => "form", :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= submit_tag("Create Service Admin") %>
    </div>

  <% end %>
</div>